{% extends 'base.html' %}

{% block title %}Editar Socio - CINAF{% endblock %}

{% block content %}
    <h2>Editar Socio</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">
            {{ field.label }}
            {% if not field.field.required %}
                <small class="text-muted">(opcional)</small>
            {% endif %}
            </label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
{% endblock %}
