{% extends 'base.html' %}

{% block title %}Lista de Socios{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Lista de Socios</h2>
    <input type="text" id="busqueda-socio" class="form-control" placeholder="Buscar socio por nombre o apellido...">
    <div id="tabla-socios">
        {% include 'socios/tabla_socios.html' %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputBusqueda = document.getElementById('busqueda-socio');
        const tabla = document.getElementById('tabla-socios');
    
        inputBusqueda.addEventListener('input', function () {
            const query = inputBusqueda.value;
    
            fetch(`/socios/ajax/tabla_socios/?q=${encodeURIComponent(query)}`)
                .then(response => response.text())
                .then(html => {
                    tabla.innerHTML = html;
                })
                .catch(err => console.error("Error al actualizar tabla de socios:", err));
        });
    });
    </script>
    
{% endblock %}
