<table class="table table-striped">
    <thead>
        <tr>
          <th class="sortable asc" data-col="0">ID <span class="sort-icon">▲</span></th>
          <th class="sortable" data-col="1">Nombre <span class="sort-icon">⇅</span></th>
          <th class="sortable" data-col="2">Apellido <span class="sort-icon">⇅</span></th>
          <th class="sortable" data-col="3">Email <span class="sort-icon">⇅</span></th>
          <th class="sortable" data-col="4">Teléfono <span class="sort-icon">⇅</span></th>
          <th class="sortable" data-col="5">Estado de Cuota <span class="sort-icon">⇅</span></th>
          <th>Acciones</th>
        </tr>
      </thead>
    <tbody>
        {% for item in socios_info %}
            <tr>
                <td>{{ item.socio.id }}</td>
                <td>{{ item.socio.nombre }}</td>
                <td>{{ item.socio.apellido }}</td>
                <td>{{ item.socio.email }}</td>
                <td>{{ item.socio.telefono }}</td>
                <td>
                    <span class="badge bg-{{ item.color_cuota }}">
                        {{ item.estado_cuota }}
                    </span>
                </td>
                <td>
                    <a href="{% url 'socios:detalle_socio' item.socio.id %}"
                    class="text-info text-decoration-none" title="Ver detalle del socio">
                        <i class="bi bi-person-lines-fill"></i>
                    </a>
                    <a href="{% url 'socios:editar_socio' item.socio.id %}" class="ms-1 text-decoration-none" title="Editar socio">
                        <i class="bi bi-pencil-fill text-primary"></i>
                    </a>
                    <a href="{% url 'pagos:alta_pago' %}?socio_id={{ item.socio.id }}" class="ms-1 text-decoration-none" title="Registrar pago">
                        <i class="bi bi-cash text-primary"></i>
                    </a>
                    <a href="{% url 'modalidades:cambiar_modalidad' item.socio.id %}" class="ms-1 text-decoration-none" title="Cambiar modalidad">
                        <i class="bi bi-person-badge text-primary"></i>
                    </a>
                    <a href="{% url 'socios:gestionar_observaciones' item.socio.id %}" class="ms-1 text-decoration-none" title="Gestionar observaciones">
                        <i class="bi bi-eye text-primary"></i>
                    </a>
                    <a href="{% url 'ejercicios:gestionar_registros' item.socio.id %}" class="ms-1 text-decoration-none" title="Gestionar ejercicios">
                        <i class="bi bi-graph-up text-primary"></i>
                    </a>
                    <a href="{% url 'socios:eliminar_socio' item.socio.id %}" class="ms-1 text-decoration-none" title="Eliminar socio" onclick="return confirm('¿Seguro que querés borrar este registro?');">
                        <i class="bi bi-trash3-fill text-primary"></i>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7">No hay socios cargados aún.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>