<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gym Manager{% endblock %}</title>
    <!-- Bootstrap CSS (vía CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Gym Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/socios/alta/">Alta de Socios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'socios:listar_socios' %}">Ver Socios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registrar_entrada' %}">Registrar Entrada</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_entradas' %}">Ver Entradas</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <!-- Contenido de la página -->
    <div class="container mt-4">
        {% block content %}  <!-- Aquí se cargará el contenido específico de cada página -->
        {% endblock %}
    </div>

    <!-- Bootstrap JS y Popper (vía CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>


</html>
